/Andoperator.class
/Assignmentoperator.class
/Bitwieseoperator.class
/Com.class
/Dowhileloop.class
/Forloop.class
/Forloop2.class
/Functions.class
/Myclass.class
/Nestedif.class
/Notoperator.class
/Oroperator.class
/Relationaloperator.class
/Stringmethods.class
/Switchcase.class
/Ternaryoperator.class
/Unaryoperator.class
/Whileloop.class
