/Adddingevennumbersinanumber.class
/Addingthreenumbers.class
/Addonlyodddigitsinanumber.class
/Arrayinputfromuser.class
/Averagemarkscalulation.class
/Checkpalindromenumberornot.class
/Convertkmtomiles.class
/Evenorodd.class
/Factorialofanumber.class
/Fibonacciseries.class
/Greatestamongthreenumbers.class
/Greatestamongthreenumbers2.class
/Hellohaveagoodday.class
/Multiplicationtableofagivennumber.class
/Oddandevencheckfrom1to20usingforloop.class
/Printevennumbersusingforloop.class
/Printoddnmberusingforloop.class
/Reverseanumber.class
/Stringreversalwithpalindrome.class
/Sumof10numbersusingwhileloop.class
/Swaptwonumbers.class
/Swaptwonumbers2.class
/Test.class
/Vovelscheckinginastring.class
/StarPatternPrinting.class
